services:
  sassquatch:
    image: nvcr.io/nvidia/pytorch:26.01-py3
    container_name: sassquatch
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    ipc: host
    stdin_open: true
    tty: true
    volumes:
      - .:/workspace/sassquatch
    working_dir: /workspace/sassquatch
    command: /bin/bash
