services:
  sasquatch:
    image: nvcr.io/nvidia/pytorch:26.01-py3
    container_name: sasquatch
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    ipc: host
    stdin_open: true
    tty: true
    volumes:
      - .:/workspace/sasquatch
    working_dir: /workspace/sasquatch
    command: /bin/bash
